@import "./components/breakpoints.scss";

// custom styles
.custom-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #b57900;
    background-color: #ffffff;
    border-radius: 50%;
}

.text-brown {
    color: #b57900;
}

.bg-blue {
    background-color: #212738;
}

.bg-brown {
    background-color: #b57900;
}

.text-secondary {
    color: rgba(202, 202, 202, 1) !important;
}

// Atoms

.icon-circle {
    width: 35px;
    height: 35px;
    display: flex;
    background: #ffffff;
}

// Molecules

@import "./components/Molecules/MobileMenu.scss";
@import "./components/Molecules/PreviewImage.scss";
.image-card__container {
    .parallax-container {
        width: "100%";
        display: "grid";
        grid-template-columns: "auto auto auto auto auto";
        .parallax-child {
            display: "flex";
            align-items: "center";
            justify-content: "center";
            width: "auto";
            height: "100%";
        }
    }
    .container-banner {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }
    img {
        scale: 1.05;
        transition: all 0.5s ease-in-out;
    }
}

.image-card__container:hover {
    position: relative;
    .container-banner {
        z-index: 2;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        opacity: 1;
    }
    img {
        scale: 1.15;
    }
}

// Organisms
@import "./components/Organisms/Author.scss";
@import "./components/Organisms/Hero.scss";
@import "./components/Organisms/EventsGallery.scss";
@import "./components/Organisms/Footer.scss";
@import "./components/Organisms/ShopImage.scss";
@import "./components/Organisms/ContactFrom.scss";
@import "./components/Organisms/Header.scss";

.masonry-grid {
    display: flex;
    column-gap: 8px;
    .masonry-grid_column {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}

// .shop-image__picture {
//     height: 800px;
// }
